@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  padding-top: 40px;
  color: #000000;
}

.header-logo-container {
  position: absolute;
  top: -20px;
  margin: 0;
  padding: 0;
}

.header-logo {
  display: block;
}

.header-logo:hover {
  opacity: 60%;
}

.header-logo:active {
  opacity: 30%;
}

.header-logo:focus {
  outline: 2px solid #AF4FFF ;
}

.page-header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  background-color: #FFE17F;
}

.page-header-nav-index {
  padding-bottom: 10px;
}

.page-header-nav {
  padding-left: 60px;
  padding-right: 60px;
}

.header-search-container {
  display: flex;
  width: 517px;
}

.header-search {
  position: relative;
  display: flex;
}

.header-search::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
}

.header-search-input {
  width: 359px;
  padding-top: 8px;
  padding-left: 46px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #FFE17F;
}

.header-search-input:active,
:hover {
  outline: none;
}

.header-search-input:focus {
  outline: none;
  box-shadow: none;
}

.header-search-input-wrapper:focus-within,
.header-search-input-wrapper:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-search-input:disabled {
  opacity: 0.3;
}

.header-search-button {
  width: 158px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: #FFE17F;
}

.header-search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.header-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-search-button:focus {
  outline: none;
  box-shadow: none;
}

.header-search-button-wrapper:focus,
.header-search-button-wrapper:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-search-button:disabled {
  opacity: 0.3;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 47px 0 26px 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 495px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-navigation-icon {
  margin-right: 10px;
}

.user-navigation-link {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #000000;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.user-navigation-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation-link-active {
  padding-bottom: 4px;
  border-bottom: 2px solid #000000;
}

.navigation-link-active:hover {
  opacity: 0.6;
}

.navigation-link-active:active {
  opacity: 0.3;
}

.navigation-link-active:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-link-catalog {
  padding: 18px 70px 18px 0;
}

.navigation-item-services {
  display: grid;
  grid-template-columns: repeat(3,136px);
  gap: 36px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-services {
  display: block;
  padding: 18px 8px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.user-navigation-item:first-child {
  width: 242px;
}

.basket-link {
  padding-left: 20px;
}

.user-account {
  display: flex;
  margin: 0 10px 0 0;
}

.user-navigation-logout {
  padding-left: 28px;
  opacity: 0.3;
}

.popup-menu-link {
  position: relative;
  display: block;
  width: 560px;
}

.popup-menu-link::after {
  position: absolute;
  content: "";
  left: 242px;
  top: -13px;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url(../images/icon-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 10;
}

.popup-menu-link:hover::after {
  position: absolute;
  content: "";
  left: 242px;
  top: -13px;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url(../images/icon-minus.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 10;
}

.popup-menu-link:hover:after {
  opacity: 1;
}

.popup-menu-link:hover .popup-menu,
.popup-menu-link:focus ~ .catalog-list,
.popup-menu-link:hover ~ .catalog-list  {
  display: flex;
}

.popup-menu {
  display: none;
  position: absolute;
  left: -60px;
  width: 1160px;
  padding-top: 0;
  padding-bottom: 34px;
  min-height: 120px;
  z-index: 5;
  background-color: #FFE17F;
}

.column-1 {
  width: 222px;
  margin-right: 30px;
  padding-left: 60px;
}

.column-2 {
  width: 211px;
  padding: 0;
}

.column-3 {
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-direction: column;;
}

.catalog-list-column {
  margin-top: 29px;
  padding: 0;
  list-style-type: none;
}

.main-index {
  flex-grow: 1;
}

.popular-goods-slider {
  position: relative;
  margin-bottom: 65px;
  margin-top: -12px;
  background-image: linear-gradient(#FFE17F 116px, transparent 0%);
}

.products-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.product-image-container {
  position: relative;
  width: 560px;
  margin-top: -32px;
}

.slider-arrow-left {
  position: absolute;
  content: "";
  top: 179px;
  left: 27px;
  width: 20px;
  height: 60px;
  z-index: 2;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/arrow-left.svg);
}

.slider-arrow-right {
  position: absolute;
  content: "";
  top: 179px;
  left: 540px;
  width: 20px;
  height: 60px;
  z-index: 2;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/arrow-right.svg);
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:active {
  opacity: 0.3;
}

.slider-arrow:focus {
  outline: 2px solid #AF4FFF;
}

.slider-arrow:disabled {
  opacity: 0.1;
}

.catalog-list {
  list-style-type: none;
}

.catalog-item {
  padding-bottom: 6px;
}

.catalog-item-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.catalog-item-link-active {
  padding-bottom: 2px;
  border-bottom: 1px solid #000000;
}

.catalog-item-link-active:hover {
  opacity: 0.6;
}

.catalog-item-link-active:active {
  opacity: 0.3;
}

.catalog-item-link-active:focus {
  outline: 2px solid #AF4FFF;
}

.product-slogan {
  margin-top: 89px;
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  z-index: 2;
  color: #000000;
}

.product-description-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
}

.product-description {
  margin-top: 0;
  margin-bottom: 50px;
}

.button {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  height: 8px;
  width: 100%;
  margin-top: -4px;
  z-index: -2;
  background-color: #FFE17F;
}

.button:hover {
  text-align: center;
  background-color: #FFE17F;
}

.button:active {
  background-color: #FFCC33;
}

.button:active::before {
  background-color: #FFCC33;
}

.product-details-btn {
  width: 220px;
  margin-bottom: 50px;
  text-decoration: none;
}

.product-details-btn:focus,
.product-details-btn:focus-visible,
.product-details-btn:focus-within {
  outline: 2px solid #AF4FFF;
}

.product-details-btn:disabled {
  opacity: 0.3;
}

.product-charecteristics-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-charecteristics-item {
  margin-right: 20px;
}

.characteristics-title {
  max-width: 155px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  line-height: 30px;
  color: #000000;
}

.characteristics-description {
  margin-top: 5px;
  font-size: 16px;
  line-height: 30px;
}

.product-number {
  position: absolute;
  top: 48px;
  right: 49px;
  min-height: 135px;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  z-index: 1;
  color: #FFFFFF;
}

.slider-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -35px;
  padding: 0;
  list-style-type: none;
}

.slider-buttons-item {
  margin: 0 10px;
  z-index: 4;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button-current:hover {
  opacity: 0.6;
}

.slider-pagination-button-current:active {
  opacity: 0.3;
}

.slider-pagination-button-current:focus {
  outline: 2px solid #AF4FFF;
}

.slider-item-hidden {
  display: none;
}

.products-catalog {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-item {
  width: 160px;
}

.product-list {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.product-list:focus-visible,
.product-title:focus-visible {
  outline: none;
}

.product-item:focus,
.product-item:focus-within {
  outline: 2px solid #AF4FFF;
}

.catalog-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
  height: 160px;
  background-color: #FFE17F;
}

.image-bottom {
  align-items: flex-end;
}

.title-min-width {
  width: 125px;
}

.catalog-image-container:hover {
  background-color: #FFC700;
}

.product-item:active {
  opacity: 0.3;
}

.product-title {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.products-list {
  margin-bottom: 83px;
}

.service {
  position: relative;
}

.service::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 289px;
  bottom: 0;
  z-index: -1;
  background-color: #F0F0F0;
}

.service-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.service-list-btn {
  position: relative;
  width: 280px;
  margin: 0;
  padding-top: 64px;
  padding-left: 0;
  list-style-type: none;
}

.service-list-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 280px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.service-item-btn {
  margin-bottom: 35px;
}

.service-item-hidden {
  display: none;
}

.service-btn {
  display: block;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.service-active-btn {
  width: 100%;
  padding-left: 15px;
  text-align: left;
  color: #FFE17F;
  background-color: #000000;
}

.service-active-btn:hover {
  padding-left: 35px;
}

.service-active-btn:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.service-hidden-btn {
  position: relative;
}

.service-hidden-btn::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  margin-top: -4px;
  height: 8px;
  width: 160px;
  background-color: #FFE17F;
  z-index: -1;
}

.service-hidden-btn:hover {
  background-color: #FFE17F;
}

.service-hidden-btn:active {
  background-color: #FFCC33;
}

.service-hidden-btn:focus {
  outline: 2px solid #AF4FFF;
}

.service-list {
  margin: 0;
  padding-left: 125px;
  padding-top: 72px;
  list-style-type: none;
}

.service-info {
  position: relative;
  margin: 0;
  width: 476px;
  padding-bottom: 144px;
}

.delivery-info {
  position: relative;
}

.delivery-info::after {
  position: absolute;
  content: "";
  right: -215px;
  bottom: 150px;
  width: 136px;
  height: 164px;
  background-image: url(../images/icon-delivery.svg);
}

.guarantee-info::after {
  position: absolute;
  content: "";
  right: -220px;
  bottom: 134px;
  width: 171px;
  height: 195px;
  background-image: url(../images/icon-guarantee.svg);
}

.credit-info::after {
  position: absolute;
  content: "";
  right: -200px;
  bottom: 140px;
  width: 156px;
  height: 188px;
  background-image: url(../images/icon-credit.svg)
}

.service-title {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.advantage-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.advantage-modal {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
}

.advantage-modal:focus {
  outline: 2px solid #AF4FFF;
}

.advantage-icon {
  width: 125px;
  margin: 0;
  background-image: url('../images/icon-advantage.svg');
  background-repeat: no-repeat;
  background-color: #FFE17F;
  background-position: center;
}

.advantage-icon:hover {
  background-color: #FFC700;
}

.advantage-container:active {
  opacity: 0.3;
}

.advantage {
  display: block;
  padding-top: 41px;
  padding-bottom: 39px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.advantage-info {
  position: relative;
  width: 125px;
  margin: 0;
  background-color: transparent;
  border: none;
}

.advantage-info::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 44px;
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-info.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.company-info {
  margin-bottom: 70px;
}

.company-info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.about-company {
  position: relative;
  width: 497px;
}

.about-company-decoration::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-company-title {
  margin-top: 45px;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.about-company-description {
  margin-top: 0;
  margin-bottom: 30px;
}

.transport-company-list {
  margin-top: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;
}

.transport-company-item {
  position: relative;
  margin-left: 37px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;;
}

.transport-company-item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -35px;
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
}

.transport-company-item:not(:last-child) {
  margin-bottom: 20px;
}

.transport-company-item span {
  color: #000000;
}

.contacts {
  position: relative;
  width: 532px;
}

.contacts-decoration::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts-description {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts-info {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.about-company-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.about-company-link:focus {
  outline: 2px solid #AF4FFF;
}

.about-company-more {
  width: 270px;
}

.about-company-message {
  width: 259px;
}

.contacts-container {
  margin-bottom: 30px;
}

.address {
  margin: 0;
}

.phone {
  text-decoration: none;
  color: #444444;
}

.working-time-container {
  margin-bottom: 28px;
}

.working-time {
  margin: 0;
}

.subscription {
  padding-bottom: 52px;
  background-color: #F0F0F0;
}

.subscription-container {
  width: 1160px;
  margin: 0 auto;
}

.subscription-slogan-container {
  display: flex;
  margin-bottom: 92px;
}

.subscription-slogan {
  width: 348px;
  margin-top: 64px;
  margin-right: 252px;
  margin-left: 6px;
}

.subscripion-description {
  margin-top: 74px;
  max-width: 560px;
}

.subscription-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-form-email {
  display: flex;
}

.subscription-input {
  width: 538px;
  margin: 0;
  padding-top: 12px;
  padding-left: 18px;
  padding-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: #F0F0F0;
}

.subscription-input:focus {
  background-color: #DCDCDC;
  outline: none;
}

.subscription-input-error {
  border-bottom: 3px solid #FF3D3D;
}

.subscription-input:disabled {
  opacity: 0.3;
}

.subscription-button {
  width: 253px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  color: #000000;
}

.subscription-button:hover {
  border: 3px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:focus {
  outline: 2px solid #AF4FFF;
}

.subscription-button:disabled {
  opacity: 0.3;
}

.subscription-free {
  position: relative;
}

.subscription-free::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -33px;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon-tick.svg);
}

.main-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.main-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.footer-logo-container {
  margin-top: 62px;
  margin-bottom: 18px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  outline: 2px solid #AF4FFF;
}

.top-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 47px;
}

.footer-address {
  margin-right: 118px;
}

.footer-address-text {
  width: 240px;
  margin: 0;
  padding-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer-services-list {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-services {
  margin-right: 180px;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}

.footer-services-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-services-link:active {
  opacity: 0.3;
}

.footer-services-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #FFFFFF;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus {
  outline: 2px solid #AF4FFF;
}

.footer-social {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.footer-social::before {
  position: absolute;
  content: "";
  top: 16px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 504px;
  margin-right: 390px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);;
}

.footer-social-link-telegram {
  background-image: url(../images/icon-telegram.svg);
}

.footer-social-link-youtube {
  background-image: url(../images/icon-youtube.svg);
}

.footer-social-link-twitter {
  background-image: url(../images/icon-twitter.svg);
}

.footer-social-link:hover {
  background-color: #FFC700;
}

.footer-social-link:active {
  opacity: 0.3;
}

.footer-social-link:focus {
  outline: 2px solid #AF4FFF;
}

.about-text:hover path {
  fill: #FFFFFF;
}

.htmlacademy-link:focus-visible {
  outline: 1px solid #AF4FFF
}

.about-text:active {
  opacity: 0.3;
}

.about-text {
  margin: 0;
}

.main-inner-container {
  width: 1079px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 30px;
}

.main-inner-title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 12px;
  right: -20px;
  width: 4px;
  height: 7px;
  background-image: url(../images/icon-arrow.svg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
}

.main-wrapper {
  background-color: #F0F0F0;;
}

.main-container {
  width: 1160px;
  margin: 0 auto;
}

.catalog-products {
  display: flex;
}

.catalog-right-column {
  width: 840px;
  background-color: #FFFFFF;
}

.catalog-filter {
  width: 200px;
  margin-right: 62px;
  margin-left: 60px;
}

.filter-title {
  margin-top: 24px;
  margin-bottom: 12px;
  padding-bottom: 58px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  color: #000000;
}

.filter-price {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid #000000;
}

.range {
  padding-bottom: 32px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 5px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.catalog-filter-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.range-wrapper-inputs {
  margin-left: -9px;
}

.range-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  width: 55px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.range-input-min-price {
  margin-right: 20px;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #EBEBEB;
  cursor: pointer;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: #EBEBEB;
}

.range-toggle:active {
  background: #000000;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.filter-color {
  margin: 0;
  padding-left: 0;
  padding-bottom: 32px;
  border: none;
  border-bottom: 2px solid #000000;
}

.filter-color-title {
  padding-top: 12px;
  padding-bottom: 14px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-input.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked:focus + .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.control-input[type="radio"]:checked:focus + .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.filter-bluetooth {
  margin: 0;
  padding: 0 0 38px 0;
  border: none;
}

.filter-bluetooth-title {
  padding-top: 12px;
  padding-bottom: 20px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.price-filter {
  padding-bottom: 27px;
}

.filter-button {
  width: 222px;
  margin: 0;
  text-align: center;
  border: none;
  background-color: transparent;
}

.filter-button:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-filter-list {
  max-width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.select-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 38px;
  background-color: #F0F0F0;
}

.select-control-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.select-control {
  width: 142px;
  height: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-radius: 0%;
  background-image: url(../images/icon-arrow-down.svg);
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-color: inherit;
  -webkit-appearance: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
}

.select-control:disabled {
  opacity: 0.1;
}

.filter-arrow {
  display: flex;
  width: 60px;
  padding-right: 42px;
}

.filter-arrow-up-container {
  display: flex;
  position: relative;
}

.filter-arrow-down-container {
  position: relative;
  display: flex;
}

.filter-arrow-up {
  left: 0;
  top: -12px;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-filter-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.filter-arrow-down {
  left: 30px;
  top: -12px;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-filter-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.filter-arrow-down:hover,
.filter-arrow-up:hover {
  opacity: 0.5;
}

.filter-arrow-down:active,
.filter-arrow-up:active {
  opacity: 1;
}

.filter-arrow-up-container:focus-within,
.filter-arrow-down-container:focus-within {
  outline: 2px solid #AF4FFF;
}

.product-list-catalog {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 42px;
  margin-top: 0;
  margin-bottom: 44px;
  padding-left: 38px;
  list-style-type: none;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-card-image {
  margin-bottom: 23px;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  max-width: 200px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  grid-row: 2/-2;
  font-family: "Rubik", sans-serif;
  line-height: 21px;
  font-weight: 400;
  color: #444444;
}

.product-card:hover .product-card-info {
  display: block;
}

.product-card:hover .product-card-title {
  opacity: 0.6;
}

.product-card:active .product-card-content {
  opacity: 0.3;
}

.product-card-info {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  padding: 168px 75px 168px 75px;
  background: rgba(240, 240, 240, 0.8);
}

.product-card-button {
  position: relative;
  display: block;
  width: 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.product-card-button::before{
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  height: 8px;
  width: 100%;
  margin-top: -4px;
  z-index: -2;
  background-color: #FFE17F;
}

.product-card-link {
  text-decoration: none;
}

.product-card-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.product-card:active .product-card-button::before {
  background-color: #FFCC33;
}

.product-card-button:hover {
  background-color: #FFE17F;
}

.product-card-button:active {
  background-color: #FFCC33;
}

.pagination-show-more {
  display: block;
  width: 760px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 42px;
  padding-top: 18px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: #FFFFFF;
  border: 3px solid #E5E5E5;
  color: #000000;
}

.pagination-show-more:hover {
  border: 3px solid #000000;
}

.pagination-show-more:active {
  opacity: 0.3;
}

.pagination-show-more:focus {
  outline: 2px solid #AF4FFF;
}

.pagination-show-more:disabled {
  border: 3px solid #E5E5E5;
  opacity: 0.3;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 78px;
  text-transform: uppercase;
  background-color: #EBEBEB;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.pagination-prev {
  display: block;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
}

.pagination-prev:hover {
  background-color: #DCDCDC;
}

.pagination-prev:focus {
  outline: 2px solid #AF4FFF;
}

.pagination-prev:active {
  opacity: 0.3;
}

.pagination-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  color: #444444;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-link:hover {
  opacity: 1;;
}

.pagination-link:active {
  opacity: 0.3;
}
.pagination-link:focus-visible {
  outline: none;
}

.pagination-item:focus-within {
  outline: 2px solid #AF4FFF;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-disabled {
  background-color: #EBEBEB;
  opacity: 0.3;
}

.pagination-next {
  display: block;
  padding: 23px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  opacity: 1;
}

.pagination-next:hover {
  background-color: #DCDCDC;
}

.pagination-next:active {
  opacity: 0.3;
}

.pagination-next:focus {
  outline: 2px solid #AF4FFF;
}

.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
}

.modal-delivery {
  width: 760px;
  height: 550px;
  margin-top: -250px;
  margin-left: -450px;
  padding-left: 70px;
  padding-right: 70px;
  border: 10px solid #000000;
  background-color: #FFFFFF;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.modal-show {
  display: block;
}

.modal-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 40px;
}

.modal-title {
  margin: 0;
}

.modal-close-button {
  width: 26px;
  height: 26px;
  background-image: url(../images/icon-close-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #AF4FFF;
}

.modal-top-container {
  display: flex;
  justify-content: space-between;
}

.modal-label {
  margin-bottom: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.user-name {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.user-email {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal-input {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F0F0F0;
  color: #000000;
}

.user-name-input {
  width: 338px;
  border: none;
}

.user-name::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url(../images/icon-modal-user.svg);
  top: 58px;
  right: 24px;
}

.user-email-input {
  width: 334px;
  margin-bottom: 20px;
  border: none;
  opacity: 1;
}

.user-email::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 12px;
  background-image: url(../images/icon-user-email.svg);
  top: 58px;
  right: 20px;
}

.modal-input:hover {
  background-color: #DCDCDC;
}

.modal-input:active {
  background-color: #EBEBEB;
  border: none;
}

.modal-input:focus {
  outline: 2px solid #AF4FFF;
}

.user-email-input:invalid {
  margin: 0;
  outline: 2px solid #FF3D3D;
}

.user-email-input:disabled {
  opacity: 0.3;
}

.modal-message {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.modal-message:invalid {
  color: #FF3D3D;
}

.modal-error {
  display: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
}

.user-email-input:invalid + .modal-error {
  display: block;
}

.modal-bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 42px;
  align-items: center;
}

.user-message {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 20px;
}

.user-message-input {
  width: 520px;
  border: none;
}

.quantity {
  display: flex;
  flex-direction: column;
  position: relative;
}

.quantity-container {
  display: flex;
  justify-content: space-between;
}

.quantity-input {
  width: 60px;
  padding: 0;
  text-align: center;
  border: none;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button  {
  -webkit-appearance: none;
}

.quantity-input {
  -moz-appearance: textfield;
}

.quantity-button {
  display: block;
  width: 60px;
  margin: 0;
  border: none;
  background-color: #F0F0F0;
}

.quantity-button:hover {
  background: #EBEBEB;
  opacity: 0.6;
}

.quantity-button:active {
  opacity: 0.3;
}

.quantity-button:focus {
  outline: 2px solid #AF4FFF;
}

.quantity-button:disabled {
  background-color: #F0F0F0;
  opacity: 0.3;
}

.quantity-minus {
  position: relative;
}

.quantity-minus::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 29px;
  left: 22px;
  background-image: url(../images/icon-minus.svg);
}

.quantity-plus {
  position: relative;
}

.quantity-plus::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 22px;
  right: 22px;
  background-image: url(../images/icon-plus.svg);
}

.quantity-error {
  border: 2px solid #FF3D3D;
}

.tooltip {
  position: absolute;
  margin-top: 2px;
  margin-left: 112px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  display: block;
  margin-left: 8px;
  margin-top: -5px;
  padding: 0;
  text-align: center;
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
  color: #FFE17F;
}

.tooltip-text {
  position: absolute;
  display: none;
  top: 28px;
  right: -70px;
  width: 164px;
  margin-bottom: 10px;
  padding: 19px 17px 10px 19px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -5px;
  right: 58px;
  width: 14px;
  height: 6px;
  background-image: url(../images/tooltip-arrow.svg);
  background-repeat: no-repeat;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-button {
  width: 200px;
  background-color: transparent;
  border: none;
}

.user-navigation-item {
  position: relative;
}

.popover {
  position: absolute;
  top: 40px;
  right: -75px;
  z-index: 5;
  box-sizing: border-box;
  width: 320px;
  min-height: 301px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
}

.popover::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 160px;
  width: 14px;
  height: 6px;
  background-image: url(../images/tooltip-arrow.svg);
  background-repeat: no-repeat;
}

.popover-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
}

.popover-cart .popover-close-button {
  padding-left: 44px;
  background-image: url(../images/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 22px center;
  background-color: inherit;
  border: none;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px 0 20px;
  list-style-type: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.cart-item-description {
  max-width: 152px;
  margin: 0;
  text-align: start;
}

.cart-img {
  margin-right: 23px;
}

.cart-item-container {
  display: grid;
  grid-template-columns: 39px 170px;
  gap: 23px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.cart-item-container:hover {
  opacity: 0.6;
}

.cart-item-container:active {
  opacity: 0.3;
}

.cart-item-container:focus {
  outline: 2px solid #AF4FFF;
}

.cart-item-button {
  justify-self: end;
  width: 10px;
  height: 10px;
  background-image: url(../images/icon-close-popover.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:active {
  opacity: 0.3;
}

.cart-item-button:focus {
  outline: 2px solid #AF4FFF;
}

.cart-item-button:disabled {
  opacity: 0.3;
}

.basket {
  position: relative;
}

.badge {
  position: absolute;
  content: "";
  top: 4px;
  left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  z-index: 0;
}

.user-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1A1A1A;
}

.user-order-button {
  display: block;
  margin: 20px 20px 20px 20px;
  padding: 14px 23px 14px 23px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFFFFF;
  border: none;
  color: #000000;
}

.user-order-button:hover {
  background-color: #FFE17F;
}

.user-order-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-order-button:focus {
  outline: 2px solid #AF4FFF;
}

.user-order-button:disabled {
  opacity: 0.3;
}

.popover-active {
  display: block;
}

.popover-hidden {
  display: none;
}
